body{
    margin:0;
    padding:0;
    background-color: black;
    overflow:hidden;

}

#player{
    position:absolute;
    width:1.5vw;
    height:1.5vw;
    background-color: rgb(0, 255, 0);
    transform: translate(49.5vw, 49.5vh)
}